<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form id="app">
    <label for="firstName">姓：</label>
    <input type="text" id="firstName" placeholder="FirstName" v-model="firstName"><br>

    <label for="lastName">名：</label>
    <input type="text" id="lastName" placeholder="LastName" v-model="lastName"><br>

    <label for="fullName1">姓名1：</label>
    <input type="text" id="fullName1" placeholder="FullName1" v-model="fullName1">
    <span>由firstName-lastName拼接成的fullName1</span><br>

    <label for="fullName2">姓名2：</label>
    <input type="text" id="fullName2" placeholder="FullName2" v-model="fullName2">
    <span>通过监视firstName和lastName拼接成的fullName2</span><br>

    <label for="fullName3">姓名3：</label>
    <input type="text" id="fullName3" placeholder="FullName3" v-model="fullName3">
    <span>通过computed计算fullName3,并通过set和get方法使firstName，lastName与fullName3双向绑定</span>
    <br>
  </form>

  <script type="text/javascript" src="../../static/js/vue.js"></script>
  <script type="text/javascript">
    new Vue({
      el: '#app',
      data: {
        firstName: 'A',
        lastName: 'B',
        fullName2: 'A-B'
      },
      computed: { // 对数据进行计算，结果供页面使用
        fullName1 () { // 通过计算得到fullName1
          return this.firstName + '-' + this.lastName
        },
        fullName3: { // 通过getter和setter得到fullName3
          set (value) {
            const names = value.split('-')
            this.firstName = names[0]
            this.lastName = names[1]
          },
          get () {
            return this.firstName + '-' + this.lastName
          }
        }
      },
      watch: {
        firstName (value) {
          this.fullName2 = value + '-' + this.lastName
        },
        lastName (value) {
          this.fullName2 = this.firstName + '-' + value
        }
      }
    })
  </script>
</body>
</html>
<!--
1. 计算属性
  在computed属性对象中定义计算属性的方法
  在页面中使用{{方法名}}来显示计算的结果
2. 监视属性:
  通过通过vm对象的$watch()或watch配置来监视指定的属性
  当属性变化时, 回调函数自动调用, 在函数内部进行计算
3. 计算属性高级:
  通过getter/setter实现对属性数据的显示和监视
  计算属性存在缓存, 多次读取只执行一次getter计算
-->
